html, body {
  background-image: linear-gradient(15deg, #2f385a, #312f5a, #150c24, #080211);
  background-size: 200%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  // color: #2f385a;
  // animation: body_animation 10s ease alternate infinite;
}

@keyframes body_animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color: #2c3e50;
  color: #b2c5d8;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(#1c132b, .7);
  border-radius: 0 0 .6rem .6rem;
  display: grid;
  grid-template-rows: 30px auto 50px;
  grid-template-columns: 1fr;
  justify-content: space-between;

  ::-webkit-scrollbar {
      display: none;
  }
}

@media screen and (min-width: 600px) {
  #app {
    max-width: 600px;
  }
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  font-size: 2em;
}

.playbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: rgba(#1c132b, .7);
  vertical-align: middle;

  .btn {
    padding: 0 .1em;
    padding-bottom: 0 !important;
    border-radius: 50%;
    background: transparent;
    margin: .1em;

    &:hover {
      color: #42b983 !important;
    }

    &#play, &#pause {
      border: 3px solid;
      color: #fff;
    }

    &#pause {
      color: #42b983;
      position: relative;
      background: rgba(#42b983, .05);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#42b983, .3);
        border-radius: 50%;
        animation: button_pulse_animation 3s infinite ease;
      }
    }

    &#prev, &#next {
      color: #fff;
    }

    .bx {
      display: block;
    }
  }
}

@keyframes button_pulse_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.song-item-loading {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(#f1f1f1, .7);
    opacity: .112;
    animation: song_item_loading 1s ease infinite;
    border-radius: .6rem;
  }
}

@keyframes song_item_loading {
  0% {
    opacity: .05;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

.song-cover {
  display: flex;
  position: relative;
  width: 40%;

  img {
    width: 100%;
    border-radius: 1.6rem;
  }

  &:nth-child(2) {
    position: absolute;
    opacity: .3;
    transform: scale(.8);
    filter: blur(20px);
    bottom: -10px;
  }
}
